.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.review-order{
    background-color: #FF9900;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top:10px;
}