.review-container{
    margin: 50px auto;
}
.btn-processed{
    background-color: #FF9900;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top:10px;

}